/* CSS para o menu dropdown */
.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 10;
    background-color: #ffffff;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.dropdown-menu a {
    display: block;
    padding: 0.5rem 1rem;
    color: #1e3a8a;
    text-decoration: none;
    transition: background-color 0.3s;
}

.dropdown-menu a:hover {
    background-color: #f3f4f6;
}
.hidden {
    display: none;
}

#tipo-alteracao option[value="escolha-aqui"] {
    color: rgba(0, 0, 0, 0.3);
}